

body{
    /*width: 100%;
    height: 100%;*/
    margin: 0px;
}

.container {
    /*width: 100vw;
    height: 100vw;*/
    display: flex;
}

.seccion-imagen {
    width: 80%;
    
    background-color: #E8EBE4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-imagen h2{
    font-family: 'Raleway', sans-serif;
    size: 45px;
}

.seccion-imagen p{
    text-align: center;
}

.seccion-chat{
    width: 20%;
    
    background-color: #fff;
    display: flex; /* para usar flexbox*/
    flex-direction: column; /* para dar la orientacion en flexbox */
    font-family: 'Raleway', sans-serif;
    
}

.usuario-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #929292;
}

.seccion-chat img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

.foto-mas-estado {
    display: flex;
    align-items: center;

}
.nuevo-chat {
    display: flex;
    text-align: center;
    flex-basis: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid #929292;
}

.nuevo-chat button{
    background-color: #A491D2;
    border: none;
    padding: 15px 32px;
    color: #fff;    
}
.seccion-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-imagen img{   
    width: 200px;
    height: 200px;

}

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #929292;
    flex-basis: 80px;
}

